body {
    color: #222;
    margin: 0px;
    padding: 0px;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 17px;
    background-color: white;
}

.navbar-brand {
    font-family: Consolas, "andale mono", "lucida console", monospace;
    color: black;

}


.nav-item {
    display: inline-block;
    color: #222222;
}

.navbar-titles {
    display: inline-block;
    font-family: Consolas, "andale mono", "lucida console", monospace;
    color: #222222;
}

.navbar-titles {
    margin-left: auto;
}

nav {
    height: 41px;
    background-color: white;
}

.navbar-titles a {
    display: inline-block;
    font-size: 17px;
    color: black;
    font-family: Consolas, "andale mono", "lucida console", monospace;
}

.nav-item img {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border-radius: 5px;
}

footer {
        margin-left: 0px;
        padding: 50px;
        text-align: center;
        color: black;
        background: white;
}

footer a {
        color: #2495f2;
}

.message {
    margin-top: 40px;
}

.social-img {
    width: 50px;
    height: 50px;
    margin-left: 10px;

}


.main_content {
    background: #fff;
    margin: 0px;
    padding: 0px 0px 50px;
}

.hero {
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: Consolas, "andale mono", "lucida console", monospace;
    padding: 50px 0px;
    text-align: center;
}

.hero .sub-hero {
    margin-top: 70px;
}

.hero h1 {
    padding: 30px;
}

.hero small {
    font-size: 25px;
}

.hero .sub-hero .carousel_container {
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.hero a {
    font-size: 12px;
}

.content-section {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;

}



.content-section-account {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: auto;
    max-width: 550px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;

}


.content-section-request {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: auto;
    max-width: 800px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;

}

.content-section-admin {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: auto;
    max-width: 700px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;

}

.content-section-admin-user {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: auto;
    max-width: 900px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;

}

.content-section-delivery {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: auto;
    max-width: 900px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}


.stats {
    padding: 0px;
    text-align: center;
}

.stats .stat {
    display: inline-block;
    min-width: 170px;
}

.container_category_list {
     font-family: Consolas, "andale mono", "lucida console", monospace;

}

.container_category_list .categories {
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: auto;
    width: 300px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.container_category_list img {
    width: 275px;
    height: 206px;
    margin-left: 10px;
    border-radius: 5px;

}

.container_category_list .categories .title {
    font-size: 20px;
    margin-left: 95px;
}

.container_category_list .categories .title a {
    color: black;
}

.container_category_list .categories .description {
    font-size: 10px;
}

.categories_img {
    width: 400px;
    height: 300px;
    margin-left: 125px;


}


.container_product_list {
    font-family: Consolas, "andale mono", "lucida console", monospace;
    alignment: center;

}

.container_product_list .categories {
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: auto;
    width: 300px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.container_product_list img {
    width: 275px;
    height: 206px;
    margin-left: 0px;
    border-radius: 5px;

}

.container_product_list .categories .title a{
    font-size: 20px;
    color: black;
    margin-left: 75px;
}

.container_product_list .categories .price {
    font-size: 12px;
    color: gray;
    margin-left: 75px;
}


.rounded-circle {
    width: 150px;
    height: 150px;
    padding: 10px;

}

.cart_total {
    font-family: Consolas, "andale mono", "lucida console", monospace;
    font-size: 30px;
    margin-left: 180px;

}

.order_shopout {
    margin-left: 500px;
}

.view_orders {
    font-family: Consolas, "andale mono", "lucida console", monospace;
    margin-left: 190px;
    font-size: 10px;
}

.shop_more {
    margin-top: 0px;
    margin-left: 250px;
    font-family: Consolas, "andale mono", "lucida console", monospace;
    font-size: 10px;
}

.form-group-dropdown {
    padding: 10px;
}
